<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "includes.html" %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="item_name">Item Name:</label>
                <input class="form-control" type="text" name="item_name" id="item_name">
            </div>
            <div class="form-group">
                <label for="item_quantity">Quantity</label>
                <input class="form-control" type="number" min="1" step="1" name="item_quantity" id="item_quantity">
            </div>
            <div class="form-group">
                <label for="item_storage">Villa</label>
                <select class="form-control" name="item_storage" id="item_storage">
                     {% for v in villas %}
                         <option value="{{ v.id }}">{{ v.name }}</option>
                     {% endfor %}
                </select>
            </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

</body>
</html>
