{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new order</title>
    {% include 'includes.html' %}
    <script src="/staticfiles/admin/js/core.js"></script>
    <script src="/staticfiles/admin/js/vendor/jquery/jquery.min.js"></script>
    <script src="/staticfiles/admin/js/jquery.init.js"></script>
    <script src="/staticfiles/admin/js/admin/RelatedObjectLookups.js"></script>
</head>
<body>
{% include 'check_in_manager/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <h1>Create Order</h1>
            <hr>
            {% include 'includes/order_form_snippet.html' %}
            <br>
        </div>
        <div class="col-2"></div>
    </div>
</div>

</body>
</html>
