{% load check_in_manager_templatetags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'includes.html' %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label }}
                            {{ field|addcss:'form-control' }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
                <button class="btn btn-primary" type="submit" >Save</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>
</html>

