<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
{% for villa in villas %}
    <tr>
        <td><a href="service_manager/{{ villa.id }}"> {{ villa.name }}</a></td>
        <td><a href="service_manager/{{ villa.id }}/expenses"><button>spendings</button></a></td>
        <td><a href="service_manager/{{ villa.id }}/reports"><button >reports</button></a></td>

    </tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if villas.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ villas.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ villas.number }} of {{ villas.paginator.num_pages }}.
        </span>

        {% if villas.has_next %}
            <a href="?page={{ villas.next_page_number }}">next</a>
            <a href="?page={{ villas.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>